.main-header .container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main-nav-link li {
    display: inline;
    align-self: center;
    color: #E5E7EB;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.main-header {
    background-color: #1F2937;
}

.main-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    width: 1000px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin: 0 auto;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: .5em;
    border: none;
    font-weight: bold;
}

.information {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}